.Product{
    border: 1px solid #ccc;
    border-radius: 7px ;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Product .heart{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}
.Product .heart:hover{
    transform: scale(1.2);
    color: var(--main-color);
}
.Product .card-body >p{
    transition: 0.5s;
}
.Product:hover .card-body >p{
    color: var(--main-color);
}
.Product .container-img{
    overflow: hidden;
    position: relative;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.Product .process.two{
    display: none;
}
.Product .process{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    transform: translate(-50% , -50%);
}
.Product .process div{
    width: 45px;
    height: 45px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    background-color: #e6f7f4;
    transition: 0.6s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
}
.Product:hover .process div:nth-child(2){
    transition-delay: 0.1s;
}
.Product:hover .process div{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
.Product .process div:hover{
    transition-delay: 0s !important;
    background-color: var(--main-color);
    color: #fff;
    transform: translateY(0px) scale(0.9) rotate(360deg);
}
.Product:hover .container-img img{
    transform: scale(1.15);
}
.Product .container-img img{
    transition: 0.4s;
    width: 70%; 
    height: 80%;

}
.Product .card-body{
    display: flex;
    flex-direction: column;
    font-weight: normal ;
    padding: 18px;
    gap: 6px;
}
.Product .card-body > .price{
    display: flex;
    line-height: 1;
}
.Product .card-body > .price p{
    color: var(--main-color);
    margin-right: 10px;
}
.Product .card-body > .price del{
    opacity: 0.5;
    font-size: 16px;

}
.Product .card-body .bottom{
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: space-between;
}
.Product .card-body .bottom div:first-child{
    display: flex;
    align-items: center;
    gap: 10px ;
    border: 1px solid #ddd ;
    background-color: #ddd ;
    border-radius: 5px;
    overflow: hidden;
    color: #000000b8;
}
.Product .card-body .bottom div button{
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: flex;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
    align-items: center;
    justify-content: center;

}
.Product .card-body .bottom div button:hover{
    cursor: pointer;
    background-color: #666;
    color: #fff;
}
.Product .card-body .bottom div span{
    width: 25px;
    text-align: center;
}
.Product .card-body .bottom > div:last-child{
    background-color: var(--main-color);
    height: 30px;
    width: 40px; 
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
}
.Product .card-body .bottom > div:last-child:hover{
    filter: brightness(1.2);
}
.Product .card-body .bottom > div:last-child:active{
    transform: scale(0.8);
    filter: brightness(1);
}

/* ----------------- */
/* ----------------- */

.row-products .Product{
    flex-direction: row;
    border: none;
    /* justify-content: center; */
    align-items: center;
}
.row-products .Product .container-img {
    width: 115px;
    height: 115px;
    border: 2px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}
.row-products .Product .container-img img{
    width: 75%;
    height: 75%;
}
.row-products .Product .card-body .bottom{
    display: none;
}
.row-products .Product .card-body {
    padding: 0px;
    position: relative;
}
.row-products .Product .heart{
    display: none;
} 
.row-products .Product .process.one{
    display: none;
}
.row-products .Product .process.two{
    background-color: #fff;
    transition: 0.5s;
    justify-content: flex-start;
    opacity: 0;
}
.row-products .Product:hover .process.two{
    opacity: 1;
}
.row-products .Product .process.two{
    display: flex;
}
.row-products .Product{
    overflow: hidden;
}
.row-products .Product .process.two > div{
    width: 40px ;
    height: 40px;
    flex-shrink: 0;
    cursor: pointer;
    font-size: 17px;
}
.row-products .Product:hover .process.two > div:nth-child(3){
    transition-delay: 0.2s;
}
.row-products .Product:hover .process.two > div:nth-child(4){
    transition-delay: 0.3s;
}
