.BestValue .full-card:hover .buysave{
    border-radius:unset;
    
} 
.full-card::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(170, 179, 187);
    opacity: 0;
    transition: 0.3s;
}
@keyframes bulce {
    100%{
        opacity: 1;
    }
    0%{
        opacity: 0;
    }
}
.full-card:hover{
    animation: bulce 1s  1 alternate;
}